<!-- header -->
<div class="header">
    <div class="menu-toggle-btn">
        <!-- Menu close button for mobile devices -->
        <a href="#">
            <i class="bi bi-list"></i>
        </a>
    </div>
    <!-- Logo -->
    <a href="./dashboard.html" class="logo">
        <img width="100" src="~/images/logo.png" alt="logo">
    </a>
    <!-- ./ Logo -->
    <div class="custom-burger-menu">
        <button class="custom-btn-bg-none" onclick="fnToggleSidebar()">
            <i class="bi bi-list fs-4"></i>
        </button>
    </div>
    <div class="page-title">@ViewData["Title"]</div>
    <!-- ./ Header mobile buttons -->
</div>
<!-- ./ header -->
